@page
@model CreateModel
@{
}


<div class="container-fluid">

    <div class="row">
        <div class="col-lg-12 clear-padding-xs">
            <h5 class="page-title"><i class="fa fa-user-secret"></i> CREATE COURSE ATTENDANCE</h5>
            <div class="section-divider"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 clear-padding-xs">
            <div class="col-md-12">
                <div class="dash-item first-dash-item">
                    <h6 class="item-title"><i class="fa fa-user"></i>COURSE ATTENDANCE INFO</h6>
                    <form  id="formAttendance" method="post" >
                        <div class="inner-item">
                            <div asp-validation-summary="ModelOnly" class="Dash-form text-danger"></div>
                            <input id="Latitude" name="ViewModel.Latitude" type="hidden" />
                            <input id="Longitude" name="ViewModel.Longitude" type="hidden" />
                            <div class="dash-form">
                                <div class="col-sm-3">
                                    <label asp-for="ViewModel.CourseId" class="clear-top-margin"><i class="fa fa-calendar"></i>Course</label>
                                    <select asp-for="ViewModel.CourseId" asp-items="Model.SelectList">
                                        <option value="">Select Course</option>
                                    </select>
                                    <span asp-validation-for="ViewModel.CourseId" class="text-danger"></span>
                                </div>
                                <div class="col-sm-3">
                                    <label asp-for="ViewModel.DateTime" class="clear-top-margin"><i class="fa fa-book"></i>Date</label>
                                    <input type="date" asp-for="ViewModel.DateTime" />
                                    <span asp-validation-for="ViewModel.DateTime" class="text-danger"></span>
                                </div>
                                <div class="col-sm-3">
                                    <input id="testInput" type="text"  />
                                </div>
                                <div class="clearfix"></div>
                                <div class="col-sm-12">
                                    <button id="submit" type="submit">CREATE</button>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
<script>
    let locationAccessErrorUrl = "@Model.LocationAccessErrorUrl";

    const successCallBack = (position) => {
        console.log(position);
        $("#ViewModel_Latitude").val(position.coords.latitude);
        $("#ViewModel_Longitude").val(position.coords.longitude);
        $("#Latitude").val(position.coords.latitude);
        $("#Longitude").val(position.coords.longitude);
    };
    const errorCallBack = (error) => {
        window.location.replace(`${locationAccessErrorUrl}?codeError=${error.code}`);
    };
    

    $("document").ready(function (){
        navigator.geolocation.getCurrentPosition(successCallBack , errorCallBack );

    });

    
</script>

}
