<div class="sidebar-nav-wrapper" id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li>
            <a asp-page="/Dashboards/Instructor" ><i class="fa fa-home menu-icon"></i>HOME</a>

        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-users menu-icon"></i> COURSES <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a asp-page="/Courses/Create" ><i class="fa fa-caret-right"></i>ADD</a>
                </li>
                <li>
                    <a asp-page="/Courses/Index"><i class="fa fa-caret-right"></i>ALL COURSES</a>
                </li>
                <li>
                    <a asp-page="/Courses/RegisterdStudents"><i class="fa fa-caret-right"></i>REGISTERD STUDENTS</a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </li> 

        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-user-secret menu-icon"></i> COURSES ATTENDANCE<span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a asp-page="/CourseAttendances/Create" ><i class="fa fa-caret-right"></i>ADD</a>
                </li>
                <li>
                    <a asp-page="/CourseAttendances/Index"><i class="fa fa-caret-right"></i>ALL ATTENDANCES</a>
                </li>
                <li>
                    <a asp-page="/StudentAttendances/Instructor"><i class="fa fa-caret-right"></i>STUDENTS ATTENDANCES</a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </li> 
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-user-secret menu-icon"></i> COURSES GRADES<span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a asp-page="/CourseGrades/Create" ><i class="fa fa-caret-right"></i>ADD</a>
                </li>
                <li>
                    <a asp-page="/CourseGrades/Index"><i class="fa fa-caret-right"></i>ALL GRADES</a>
                </li>
                <li>
                    <a asp-page="/StudentGrades/InstrcutorIndex"><i class="fa fa-caret-right"></i>STUDENTS GRADES</a>
                </li>
            </ul>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-users menu-icon"></i> COURSES MATERIALS<span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a asp-page="/CourseMaterials/Upload" ><i class="fa fa-caret-right"></i>UPLOAD </a>
                    </li>
                    <li>
                        <a asp-page="/CourseMaterials/Index"><i class="fa fa-caret-right"></i>ALL MATERAILS</a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </li>
            <div class="clearfix"></div>
        </li> 

    </ul>
</div>