<div class="sidebar-nav-wrapper" id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li>
            <a asp-page="/Dashboards/Student" ><i class="fa fa-home menu-icon"></i>HOME</a>

        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-users menu-icon"></i> COURSES <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a asp-page="/StudentCourses/Register" ><i class="fa fa-caret-right"></i>REGISTER</a>
                </li>
                <li>
                    <a asp-page="/StudentCourses/Index"><i class="fa fa-caret-right"></i>ALL COURSES</a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-user-secret menu-icon"></i> COURSES ATTENDANCE<span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a asp-page="/StudentAttendances/Student"><i class="fa fa-caret-right"></i>ALL ATTENDANCES</a>
                </li>

            </ul>
            <div class="clearfix"></div>
        </li> 
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-user-secret menu-icon"></i> COURSES GRADES<span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a asp-page="/StudentGrades/StudentIndex"><i class="fa fa-caret-right"></i>ALL GRADES</a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </li> 

    </ul>
</div>