@page
@model CreateModel
@{
}
<div class="container-fluid">

    <div class="row">
        <div class="col-lg-12 clear-padding-xs">
            <h5 class="page-title"><i class="fa fa-user-secret"></i> CREATE COURSE</h5>
            <div class="section-divider"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 clear-padding-xs">
            <div class="col-md-12">
                <div class="dash-item first-dash-item">
                    <h6 class="item-title"><i class="fa fa-user"></i>CREATE COURSE INFO</h6>
                    <form  method="post">
                        <div class="inner-item">
                            <div asp-validation-summary="ModelOnly" class="Dash-form text-danger"></div>
                            <div class="dash-form">
								<div class="col-sm-3">
									<label asp-for="ViewModel.Name" class="clear-top-margin"><i class="fa fa-book"></i>Name</label>
									<input  asp-for ="ViewModel.Name" />
									<span asp-validation-for="ViewModel.Name" class="text-danger"></span>
								</div>
                                <div class="col-sm-3">
									<label asp-for="ViewModel.Code" class="clear-top-margin"><i class="fa fa-book"></i>Code</label>
									<input  asp-for ="ViewModel.Code" />
									<span asp-validation-for="ViewModel.Code" class="text-danger"></span>
								</div>
								<div class="col-sm-3">
									<label asp-for="ViewModel.Day" class="clear-top-margin"><i class="fa fa-calendar"></i>DAY</label>
									<select asp-for="ViewModel.Day" asp-items="Html.GetEnumSelectList<DayOfWeek>()">
										<option value="">Select Day</option>
									</select>
									<span asp-validation-for="ViewModel.Day" class="text-danger"></span>
								</div>
								<div class="col-sm-3">
									<label asp-for="ViewModel.Time" class="clear-top-margin"><i class="fa fa-book"></i>TIME</label>
									<input type="time" asp-for="ViewModel.Time"/>
									<span asp-validation-for="ViewModel.Time" class="text-danger"></span>
								</div>
								<div class="clearfix"></div>
								<div class="col-sm-3">
									<label asp-for="ViewModel.Description" class="clear-top-margin"><i class="fa fa-code"></i>Description(Optional)</label>
                                    <textarea asp-for ="ViewModel.Description" rows="3" style="resize: none;"></textarea>
									<span asp-validation-for="ViewModel.Description" class="text-danger"></span>
                                </div>
                                <div class="col-sm-12">
                                    <button type="submit">CREATE</button>
                                </div>
                            <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}
