@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}


<div class="container-fluid">

    <div class="row">
        <div class="col-lg-12 clear-padding-xs">
            <h5 class="page-title"><i class="fa fa-user-secret"></i>LOGIN</h5>
            <div class="section-divider"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 clear-padding-xs">
            <div class="col-md-12">
                <div class="dash-item first-dash-item">
                    <h6 class="item-title"><i class="fa fa-user"></i>LOGIN INFO</h6>
                    <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                        <div class="inner-item">
                            <div asp-validation-summary="ModelOnly" class="Dash-form text-danger"></div>
                            <div class="dash-form">
                                <div class="col-sm-3">
                                    <label asp-for="Input.Email" class="clear-top-margin"><i class="fa fa-user-circle-o"></i>EMAIL </label>
                                    <input asp-for="Input.Email" />
                                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                                </div>
                                <div class="clearfix"></div>

                                <div class="col-sm-3">
                                    <label asp-for="Input.Password" class="clear-top-margin"><i class="fa fa-user-circle-o"></i>PASSWORD</label>
                                    <input asp-for="Input.Password" />
                                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                                </div>
                                <div class="clearfix"></div>

                                <div class="col-sm-3">
                                    <div class="checkbox">
                                        <label asp-for="Input.RememberMe">
                                            <input asp-for="Input.RememberMe" />
                                            REMEMBER ME?
                                        </label>
                                    </div>
                                </div>
                                <div class="clearfix"></div>

                                <div class="col-sm-12">
                                    <button type="submit">LOGIN</button>
                                    <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">REGISTER</a>
                                </div>
                                <div class="col-sm-12">
                                    <p>
                                        <a id="forgot-password" asp-page="./ForgotPassword">FORGET PASSWORD?</a>
                                    </p>
                                </div>                               
                                <div class="col-sm-12">
                                    <p>
                                        <a id="forgot-password" asp-page="./ResendEmailConfirmation">RESNED EMAIL CONFIRMATION?</a>
                                    </p>
                                </div>

                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@*
<!DOCTYPE html>
<html>

<head>
    <title>Login & Registration Form</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" media="screen">
     <link href="~/assets/css/style.css" rel="stylesheet" media="screen">
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700,800&display=swap" rel="stylesheet">
</head>

<body>
    <div class="cont">
        <div class="form sign-in">
            <h2>Login</h2>
            <label>
                <span>Email Address</span>
                <input type="email" name="email">
            </label>
            <label>
                <span>Password</span>
                <input type="password" name="password">
            </label>
            <button href="file:///E:/project/smarty/dropdown%20sidebar/index.html#" class="submit1" type="button">LOGIN</button>

            <div class="social-media">
            </div>
        </div>
        <div class="sub-cont">
            <div class="img">
                <div class="img-text m-up">
                    <h1>New here?</h1>
                    <p>sign up and discover</p>
                </div>
                <div class="img-text m-in">
                    <h1>One of us?</h1>
                    <p>Welcom</p>
                </div>
                <div class="img-btn">
                    <span class="m-up">RIGESTER</span>
                    <span class="m-in">LOGIN</span>
                </div>
            </div>
            <div class="form sign-up">
                <h2>RIGESTER</h2>
                <div class="container">
                    <div class="column">
                        <label>
                            <span> First Name</span>
                            <input type="text" required>
                        </label>
                        <label>
                            <span> Department</span>
                            <input type="text">
                        </label>
                        <label>
                            <span> Password</span>
                            <input type="password" required>
                        </label>
                        <label>
                            <span>University Year</span>
                            <select id="inputState" class="form-control1" required>
                                <option selected>Choose...</option>
                                <option>First</option>
                                <option>Second</option>
                                <option>Third</option>
                                <option>Fourth</option>
                            </select>
                        </label>
                    </div>

                    <div class="column">
                        <label>
                            <span> Last Name</span>
                            <input type="text" required>
                        </label>

                        <label>
                            <span>Email</span>
                            <input type="text" required>
                        </label>

                        <label>
                            <span>Confirm Password</span>
                            <input type="password" required>
                        </label>

                        <label>
                            <span> Gender</span>
                            <select id="inputState" class="form-control1" required>
                                <option selected>Select Gender</option>
                                <option>Male</option>
                                <option>Female</option>
                            </select>
                        </label>

                    </div>
                </div>
                <button class="submit1" type="button">RIGESTER</button>
            </div>
        </div>
    </div>
    <script src="login.js"></script>
</body>

</html>

*@


@section Scripts {
<partial name="_ValidationScriptsPartial" />
}
