@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="container-fluid">

    <div class="row">
        <div class="col-lg-12 clear-padding-xs">
            <h5 class="page-title"><i class="fa fa-user-secret"></i>LOGIN</h5>
            <div class="section-divider"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 clear-padding-xs">
            <div class="col-md-12">
                <div class="dash-item first-dash-item">
                    <h6 class="item-title"><i class="fa fa-user"></i>LOGIN INFO</h6>
                    <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                        <div class="inner-item">
                            <div asp-validation-summary="ModelOnly" class="Dash-form text-danger"></div>
                            <div class="dash-form">
                                <div class="col-sm-3">
                                    <label asp-for="Input.Email" class="clear-top-margin"><i class="fa fa-user-circle-o"></i>EMAIL </label>
                                    <input asp-for="Input.Email" />
                                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                                </div>
                                <div class="clearfix"></div>

                                <div class="col-sm-3">
                                    <label asp-for="Input.Password" class="clear-top-margin"><i class="fa fa-user-circle-o"></i>PASSWORD</label>
                                    <input asp-for="Input.Password" />
                                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                                </div>
                                <div class="clearfix"></div>

                                <div class="col-sm-3">
                                    <div class="checkbox">
                                        <label asp-for="Input.RememberMe">
                                            <input asp-for="Input.RememberMe" />
                                            REMEMBER ME?
                                        </label>
                                    </div>
                                </div>
                                <div class="clearfix"></div>

                                <div class="col-sm-12">
                                    <button type="submit">LOGIN</button>
                                    <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">REGISTER</a>
                                </div>
                                <div class="col-sm-12">
                                    <p>
                                        <a id="forgot-password" asp-page="./ForgotPassword">FORGET PASSWORD ?</a>
                                    </p>

                                </div>

                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>







@section Scripts {
<partial name="_ValidationScriptsPartial" />
}
